body{
  
   
    background-repeat: no-repeat;
  background-size:cover;
}
.things h1{
    font-family: sans-serif;
}
.text-black h1{
    text-shadow: 2px 2px gray;
    }
    .text-black h1:hover{
    color: burlywood;
    text-shadow: 2px 2px green;
    }
    /* card */
    :root {
        --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
      }
      
      
      
      .card {
       
        border: 1px solid #dd2476;
        color: rgba(250, 250, 250, 0.8);
        margin-bottom: 2rem;
      }
      
      
     
      
      
    /* card ends */